<!DOCTYPE html>
<html>
<head>
  <title>Ruby Website</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Admin Panel</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="col-md-3">
  
      <div id="sidebar">
        <div class="container-fluid tmargin">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Google Search" />
            <span class="input-group-btn">
                <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
        <ul class="nav navbar-nav side-bar">
          <li class="side-bar tmargin"><a href="#"><span class="glyphicon glyphicon-list">&nbsp;</span>Dashboard</a></li>
          <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-minus">&nbsp;</span>Link 1</a></li>
          <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-minus">&nbsp;</span>Link 2</a></li>
          <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-minus">&nbsp;</span>Link 3</a></li>
          <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-minus">&nbsp;</span>Link 4</a></li>
          <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-cog">&nbsp;</span>Settings</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
