<!DOCTYPE html>
<html>
<head>
  <title>Saasapp</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  
  <nav class="navbar navbar-light" style="background-color: #8CA7AB;">
    <a class="navbar-brand" href="/">LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/about">About<span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
